# 1. Write a Python program to add an item to a tuple

In [5]:
t = (2, 4, 6, 8, 1, 3, 5, 7)
t_list = list(t)
t_list.append(9)
new_t = tuple(t_list)
print(new_t)

(2, 4, 6, 8, 1, 3, 5, 7, 9)

2. Write a Python program to sum all the items in a list

In [6]:
lst1 = [5, 9, 8, 65, 32, 41, 25]
print(sum(lst1))

185

3. Write a Python program to multiply all the items in a list

In [9]:
lst2 = [3, 5, 6, 2]
result = 1
for i in lst2:
  result *= i
print(result)

180

4. Write a Python program to get the smallest number from a list

In [10]:
lst3 = [3, 5, 6, 2]
print(min(lst3))

2

5. Write a Python program to get the largest number from a list

In [11]:
lst4 = [3, 5, 6, 2]
print(max(lst4))

6

6. Write a Python program to count the number of strings from a given list of strings

In [12]:
lst5 = ["geek", "dog", "cat", "cat"]
print(lst5.count("cat"))

2

7. Write a Python program to clone or copy a list

In [14]:
lst6 = ["geek", "dog", "cat", "cat"]
list_copy = []
for i in lst6:
  list_copy.append(i)
print(list_copy)

['geek', 'dog', 'cat', 'cat']

8. Write a Python program to remove item(s) from a given set.

In [15]:
set1 = {1, 3, 5, 4, 6, 2}
set1.remove(1)
print(set1)

{2, 3, 4, 5, 6}

9. Write a Python program to check if a set is a subset of another set

In [2]:
set1 = {35, 42, 56, 41, 24}
set2 = {42, 56}
print(set2.issubset(set1))

True

10. Write a Python program to remove all elements from a given set

In [3]:
set3 = {9, 6, 8, 5, 7, 4}
set3.clear()
print(set3)

set()

11. Write a Python program to find the maximum and minimum values in a set

In [5]:
set4 = {8, 9, 5, 6, 2, 3}
print(f"max number is : {max(set4)}")
print(f"min number is : {min(set4)}")

max number is : 9
min number is : 2

12. Write a Python program to find the index of an item in a tuple

In [18]:
t = (8, 9, 5, 6, 2, 3)
print(t.index(9))

1

13. Write a Python program to convert a tuple to a dictionary

In [17]:
tuple1 = ("name","ashraf", "age",27, "job","engineer")
my_dict = {}
for k,v in enumerate(tuple1):
  my_dict.update({k:v})
print(my_dict)

{0: 'name', 1: 'ashraf', 2: 'age', 3: 27, 4: 'job', 5: 'engineer'}

14. Write a Python program to unzip a list of tuples into individual lists

In [16]:
tuple_list = [(15, 12), (96, 58), (20, 50)]
res = list(zip(*tuple_list))
print(res)

[(15, 96, 20), (12, 58, 50)]

15. Write a Python program to reverse a tuple

In [14]:
tuple3 = (1, 2, 3, 4, 5)
reverse_tuple = tuple3[::-1]
print(reverse_tuple)

(5, 4, 3, 2, 1)

16. Write a Python program to convert a list of tuples into a dictionary

In [11]:
tuple_list = [("door", 3), ("window", 5), ("electronics", 5)]
print(dict(tuple_list))

{'door': 3, 'window': 5, 'electronics': 5}

17. Write a Python program to replace the last value of tuples in a list

In [20]:
list_tuple = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_list = []
for x,y,z in list_tuple:
  new_list.append((x,y,100))
print(new_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

18. Write a Python program to sort a tuple by its float element

In [11]:
tuple5 = (1.41, 21.15, 13.23, 4.964, 58.2)
print(sorted(tuple5, reverse = True))

[58.2, 21.15, 13.23, 4.964, 1.41]