### 1) Write a program to print the maximum between two numbers. (one-line conditional statement)

In [ ]:
max_numbers = lambda x,y: print(max(x, y))
max_numbers(2, 5)

### 2) Write a program to find the maximum between three numbers.

In [ ]:
numbers = [34, 56, 89]
print(max(numbers))

### 3) Write a program to check whether a number is negative, or positive (one-line conditional statement)

In [ ]:
number_type = lambda n: print("Positive") if n > 0 else print("negative")
number_type(-2)

### 4) Write a  program to check whether a number is even or odd  (one-line statement).

In [ ]:
n = 56
print("even") if n % 2 == 0 else print("odd")

###5) Write a  program to check whether a year is a leap year or not. (one-line conditional statement).

In [ ]:
leap_year = lambda n: print("it's a leap year") if n % 4 == 0 else print("it's not a leap year") if n % 100 == 0 else print("it's a leap year") if n % 4 == 0 else print("it's not a leap year")
leap_year(2000)

###6) Write a  program to store the weekdays in a list and access the week day and print it by index.

In [ ]:
weekdays = ["saturday", "sunday", "monday", "tuesday", "wdensday", "thursday", "friday"]
for day in weekdays:
  print(day)

###7) Write a  program to print all alphabets from a to z using while loop

In [ ]:
alphabets = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]
count = 0
while count < len(alphabets):
  print(alphabets[count])
  count += 1

###8)Write a program to store numbers in the List and print its reverse

In [ ]:
original_list = [1, 3, 4, 2, 6, 78, 45]
reversed_list = original_list[::-1]
print(reversed_list)

### 9) Write a program to print the multiplcation table of any number

In [ ]:
def multiplcation_table(n):
  for i in range(1,13):
    print(i * n)
multiplcation_table(3)

###10)Write a program to print all even numbers between 1 to 100.(using while loop)

In [ ]:
x = 1
while x < 101:
  if x % 2 == 0:
    print(x)
  x +=1